<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="sidebar">
      <img class="logo" width="122" height="126" src="/images/azuki_logo.png" />
      <ul class="social-medias">
        <li>
          <a href="http://azk.io" style="color: #000000;" target="_blank">
            <span class="icon icon--circle icon--link" aria-hidden="true"></span>
          </a>
        </li>
        <li>
          <a href="http://github.com/azukiapp/azk" style="color: #000000;" target="_blank">
           <span class="icon icon--circle icon--github" aria-hidden="true"></span>
          </a>
        </li>
        <li>
          <a href="http://azk.io" style="color: #000000;" target="_blank">
           <span class="icon icon--circle icon--facebook" aria-hidden="true"></span>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/azukiapp" target="_blank" style="color: #000000;">
           <span class="icon icon--circle icon--twitter" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="container" role="main">
      <div class="header clearfix">
        <div class="row">
          <div class="col-md-6 clearfix ">
            <img class="logo_phoenix img-responsive" src="/images/phoenix.png" alt="">
          </div>
          <div class="col-md-6 text-right clearfix">
            <ul class="nav nav-pills pull-right header-link">
              <li><a href="/">Home</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="h-line"> &nbsp; </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
